:root {
    --myBoxShadow: 0 .5rem 1rem rgba(0, 0, 0, .05);
    --myBorder: .02rem solid black;
    --myBorderRadius: 5px;
    --myOutline: .1rem solid rgba(0, 0, 0, .1);
    --myOutlineHover: .2rem solid var(--myBlack);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    // transition: all .2s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: var(--myBoxShadow);

    .loginSignup {

        button {
            padding: .3rem .7rem;
            border: var(--myBorder);
            border-radius: var(--myBorderRadius);
            cursor: pointer;
            font-size: .6em;

            i {
                margin-left: .7rem;
            }
        }

    }

    .navIcons {
        display: flex;
        justify-content: space-between;
        min-width: 15%;

        i {
            cursor: pointer;
        }

        i:hover {
            transform: scale(1.1);
            color: red;
        }
    }
}

.hero {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXnOXMZ9KN4fuIuE2BujEItzKo_8DckzdsjoSWWxJxl3cMjbGmCHfjiy79LEZ3eLlV4k&usqp=CAU") no-repeat;
    background-position: 50% 80%;
    background-size: cover;
    width: 100vw;
    height: 80vh;

    p {
        color: white;
        position: absolute;
        right: 10%;
        top: 40%;
    }
}

.products {
    padding: 1rem;

    .topCards {
        margin-top: 1rem;
    }

    .topCards,
    .bottomCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: var(--myBoxShadow);
            width: 100%;

            .top {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .stars {
                    color: rgb(241, 170, 36);
                    display: flex;
                    gap: 2px;
                    order: 2;
                }

                .offer {
                    background-color: red;
                    border-radius: 2px;
                    width: 50px;
                    height: 14px;
                    padding: .1rem;
                    font-size: .5em;
                    color: white;
                    order: 3;
                }

                img {
                    width: 100%;
                    height: 10rem;
                    margin-top: 10px;
                    order: 5;
                }
            }

            .center .centerImgName {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                gap: 3px;
                margin-bottom: 1rem;
                font-size: .1em;
            }

            .bottom {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .productIcons {
                    color: white;
                    position: relative;

                    i {
                        background-color: green;
                        padding: .4rem;
                        border-radius: 40px;
                        cursor: pointer;
                        transition: all 0.25s ease-out;

                        span {
                            margin-left: 15px;
                            display: none;
                            transition: all 0.25s ease-out;
                        }
                    }
                }

                @-webkit-keyframes fadeIn {
                    from {
                        opacity: 0.9;
                    }

                    to {
                        opacity: 1;
                    }
                }

                .productIcons i:hover span {
                    display: inline;
                   -webkit-animation: fadeIn 1s;
                    animation: fadeIn 1s;
                    transition: all 0.25s ease-out;
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                // i:hover span{
                //     left: 20px;
                //     //display: inline;
                //     background-color: green;
                //     transition: all .3s linear;
                // }

                // i.fa-heart{
                //     background-color: darksalmon;
                // }


                .productPrice {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-size: .7em;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    body {
        // background-color: rgb(255, 0, 242);
    }

    main .products .topCards,
    main .products .bottomCards {
        display: flex;
        flex-direction: column;
        width: 100%;

        .topFirstProducts,
        .topSecondProducts,
        .bottomFirstCards,
        .bottomSecondProducts {
            display: flex;
            width: 100%;
            // gap: 2rem;
        }

        .card {
            // background-color: darkolivegreen;
            // margin: 2rem;

            .top {
                flex-direction: row;
                align-items: flex-start;

                .productImg {
                    order: 3;
                }

                .offer {
                    order: 4;
                }
            }

            .bottom {
                flex-direction: row;
            }
        }
    }

}

@media (min-width: 992px) {

    main .products .topCards,
    main .products .bottomCards {
        flex-direction: row;
    }

    main .products .bottomCards {
        margin-top: 1.5rem;
    }

    main .topFirstProducts,
    main .topSecondProducts,
    main .bottomFirstCards,
    main .bottomSecondProducts {
        display: flex;
        gap: 40px;
    }

    main .products .top .productImg img {
        width: 20px;
        height: 20px;
    }
}